section{
    width: 100%;
    min-height: 100vh;
    padding: 30px 0 100px;
    text-align: center;
    background:aquamarine;
}

h1{ 
    color: black;
    font-size: 52px;
}

h2{ 
    color: black;
    font-size: 40px;
}

p{
    color: black;
    font-size: 22px;
    margin-bottom:60px;
}

button{
    background: transparent;
    color: black;
    border: 2px solid black;
    padding: 14px 40px;
    border-radius: 50px;
    margin: 20px;
    transition: .4s;
    cursor: pointer;
}

button:hover{
    background: black;
    color: white;
    border-radius: 0;
}